{{#partial "title"}}
    Squad Details
{{/partial}}

{{#partial "content"}}
    <h1>Squad Details</h1>
    <h2>Squad Name: {{squad.name}}</h2>
    <p>Max Size: {{squad.maxSize}}</p>
    <p>Cause: {{squad.cause}}</p>

    <h2>Heroes in the Squad:</h2>
    <ul>
        {{#each squad.heroes}}
            <li>
                {{name}} (Age: {{age}}, Power: {{power}}, Weakness: {{weakness}})
            </li>
        {{/each}}
    </ul>

    <a href="/squads" class="btn btn-primary">Back to Squads</a>
{{/partial}}

{{> layout.hbs}}

